body{
  background-color:#292929;
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400
}

h1{
  color:#03dac6;
  text-align: center;
}

.word__boxes{
  background-color: #fffdd0;
  font-size: 1.75em;
  margin-left: auto;
  margin-right: auto;
  height: 110px;
  width: 40%;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  display: table;
}

.testing__area{
  text-align: center;
}

#typing__box{
  width: 40%;
  height: 25px;

}
#word__box__1{
  display: table-row;
}
